@import '../../../static/src/sass/base/_variables';
@import '../../../static/src/sass/base/_mixins';

.navbar{
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: auto;
  background-color: #222;
  z-index: 200;
  ul{
    display: flex;
    &>li{
      flex: 1;
      text-align: center;
    }
  }
  .iconfont{
    font-size: 36px;
  }
  a{
    display: block;
    padding: 8px 0;
    color: #fff;
  }
  .active>a{
    color: #fcd606;
  }
  p{
    font-size: 20px;
    margin-top: 4px;
  }
}
