link(rel="icon" href="//upload.dreamjser.com/images/20170221/1487657759.png" type="image/png")
link(size="57*57" href="//upload.dreamjser.com/images/20170221/1487657759.png" rel="apple-touch-icon-precomposed")
link(size="72*72" href="//upload.dreamjser.com/images/20170221/1487657759.png" rel="apple-touch-icon-precomposed")
link(size="114 *114" href="//upload.dreamjser.com/images/20170221/1487657759.png" rel="apple-touch-icon-precomposed")
link(size="144*144" href="//upload.dreamjser.com/images/20170221/1487657759.png" rel="apple-touch-icon-precomposed")
