@import '../../../static/src/sass/base/_variables';
@import '../../../static/src/sass/base/_mixins';

.users{
  menu{
    display: flex;
    a{
      display: block;
      padding: 20px 0;
      flex: 1;
      color: $font-color;
      text-align: center;
      font-size: 36px;
      border-bottom: 1px #ddd solid;
      span{
        display: block;
      }
      &:first-child{
        span{
          border-right: 1px #ddd solid;
        }
      }
    }
    .active{
      border-bottom: 6px $blue-color solid;
    }
  }

  .users-form{
    width: 560px;
    margin: 100px auto 0;
  }
  .users-errors{
    height: 60px;
    padding-top: 12px;
    color: red;
    font-size: 24px;
    i{
      margin-right: 8px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .users-item{
    position: relative;
    padding: 12px;
    border: 1px $border-color solid;
    input{
      width: 440px;
      margin-left: 20px;
      font-size: 32px;
      border: none;
    }
    .icon-selected{
      position: absolute;
      right: 10px;
      margin-top: 4px;
      color: green;
      font-size: 40px;
      margin-left: 4px;
      font-weight: bold;
    }
    i{
      font-size: 32px;
    }
  }
}
