@import '../../../static/src/sass/base/_variables';
@import '../../../static/src/sass/base/_mixins';

.error{
  position: absolute;
  width: 640px;
  height: 100%;
  left: 0;
  right: 0;
  top: -80px;
  margin: auto;
  background: #fff url(./404.jpg) no-repeat center;
  background-size: 312px;
}
