
@font-face {font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1485237869681"); /* IE9*/
  src: url("../fonts/iconfont.eot?t=1485237869681#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/iconfont.woff?t=1485237869681") format("woff"), /* chrome, firefox */
  url("../fonts/iconfont.ttf?t=1485237869681") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("../fonts/iconfont.svg?t=1485237869681#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-work:before { content: "\e6e6"; }

.icon-password:before { content: "\e6e7"; }

.icon-company:before { content: "\e6e8"; }

.icon-finance:before { content: "\e6e9"; }

.icon-install:before { content: "\e6ea"; }

.icon-wallet:before { content: "\e6eb"; }

.icon-examine:before { content: "\e6ec"; }

.icon-home:before { content: "\e6ed"; }

.icon-phone:before { content: "\e6ee"; }

.icon-picture:before { content: "\e6ef"; }

.icon-web:before { content: "\e6f0"; }

.icon-team:before { content: "\e6f1"; }

.icon-folder:before { content: "\e6f2"; }

.icon-file:before { content: "\e6f3"; }

.icon-achieve:before { content: "\e6f4"; }

.icon-mail:before { content: "\e6f5"; }

.icon-guide:before { content: "\e6f6"; }

.icon-edit:before { content: "\e6f7"; }

.icon-address:before { content: "\e6f8"; }

.icon-my:before { content: "\e6f9"; }

.icon-wifi:before { content: "\e6fa"; }

.icon-edu:before { content: "\e6fb"; }

.icon-secede:before { content: "\e6fc"; }

.icon-help:before { content: "\e6fd"; }

.icon-share:before { content: "\e6fe"; }

.icon-history:before { content: "\e6ff"; }

.icon-time:before { content: "\e700"; }

.icon-play:before { content: "\e701"; }

.icon-night:before { content: "\e702"; }

.icon-ranking:before { content: "\e703"; }

.icon-rmb:before { content: "\e704"; }

.icon-customer:before { content: "\e705"; }

.icon-recruit:before { content: "\e706"; }

.icon-warming:before { content: "\e707"; }

.icon-music:before { content: "\e708"; }

.icon-hold:before { content: "\e709"; }

.icon-remind:before { content: "\e70a"; }

.icon-news:before { content: "\e70b"; }

.icon-camera:before { content: "\e70c"; }

.icon-follow:before { content: "\e70d"; }

.icon-fab:before { content: "\e70e"; }

.icon-search:before { content: "\e70f"; }

.icon-collection:before { content: "\e710"; }

.icon-copy:before { content: "\e711"; }

.icon-del:before { content: "\e712"; }

.icon-upload:before { content: "\e713"; }

.icon-return:before { content: "\e714"; }

.icon-download:before { content: "\e715"; }

