@import './variables';

body{
  padding-bottom: 140px;
  background-color: #fff;
}

.wrap{
  width: 640px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn{
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 40px;
  color: #fff;
  border: none;
  background-color: $blue-color;
  border-radius: 8px;
  text-align: center;
  &:active{
    background-color: #058afd;
  }
}
